
body{

	background-color: #841958;
}




.menu {
	color: red;
}
#menu_web {
	background: yellow;
}


h3 {

	color: red;
	font-size: 30px;
}


h1 {
	color: blue;
	font-size: 25px;
}



